body {
    background: skyblue;
}

.col-md-4 {
    width: 230px;
    font-size: 30px;
    background-color:rgb(19, 185, 191);
}

.nav li a {
    color: white;
    margin: 20px -14px;
}

.nav li a:hover {
    background: green;
}

.nav li {
    padding: 40px 0px 40px -12px;
    height: 113px;
}

.container {
    margin: 0 auto;
    margin-top: 100px;
    background: rgb(242, 249, 255);
    border-radius: 20px;
}
#the-basics {
    font-size: 5em;
}
#the-basics input {
    margin-left: 100px;
}
.tt-menu {
    margin-left: 100px;
}

#the-basics > h1,p {
    text-align: center;
    margin-left: 30px;
}

#the-basics > h1 {
    text-align: center;
    font-size: 100px;
    padding-bottom: 10px;
}
i {
    color: skyblue;
}

#the-basics > p {
    text-align: center;
    font-size: 25px;
    padding-bottom: 30px;
    color: grey;
}

#the-basics .btn{
    margin-left: 40%;
    margin-top: 80px;
    font-size: 50px;
    padding: 10px 50px;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #04a2dd;;
}